# Database Configuration
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=plc-test
MYSQL_USER=sensync_user
MYSQL_PASSWORD=your_password_here

# MQTT Configuration
MQTT_BROKER_URL=mqtt://mosquitto:1883
MQTT_TOPIC=plc/#
MQTT_TOPIC_PREFIX=plc
PLC_ID=plc1
PUBLISH_INTERVAL=60000

# Services Configuration
DB_SERVICE_URL=http://db-service:8001
DATABASE_URL=mysql://root:your_root_password_here@mysql:3307/plc-test

# Modbus Configuration (optional)
# POLL_INTERVAL=5
